<ion-content>
  
<ion-tabs>
   <ion-tab tabIcon="restaurant" md="md-restaurant" [root]="ing" [rootParams]="{item: item_data, data: recipe_data}"></ion-tab>
   <ion-tab tabIcon="ios-leaf" [root]="home" [rootParams]="{data: recipe_data, item: item_data}"></ion-tab>
   
</ion-tabs>


</ion-content>