
 <ion-menu [content]="content" side="right" id="menu2">
  <ion-content>
    <ion-list>
      <button ion-item  menuClose="menu2" detail-none>
        Close Menu 2
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

 <ion-header>

  <ion-navbar> 
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>{{recipe.name}}</ion-title>
    
  </ion-navbar>

</ion-header>
 
<ion-content padding>
  <ion-item>
  <p item-end>  - {{recipe.chef_name}} </p>
   <ion-avatar item-end><img [src]="recipe.image != null? 'recipe.image' : 'http://images.clipartpanda.com/chef-hat-clipart-black-and-white-4c9GGBpcE.png'  "></ion-avatar>
  </ion-item>
  <ion-card>
  {{recipe.about_info}}
  </ion-card>
  <ion-item *ngFor = "let review of reviews ">

    <ion-avatar item-start>
      <img alt="kendrick" src="https://cdn0.iconfinder.com/data/icons/PRACTIKA/256/user.png">
     </ion-avatar>
    {{review.content}}
    <rating item-end [(ngModel)]="review.rating" 
        readOnly="true" 
        max="5" 
        emptyStarIconName="star-outline" 
        halfStarIconName="star-half" 
        starIconName="star" 
        nullable="false" 
        ></rating>

  </ion-item>
</ion-content>

