<!--
  Generated template for the CartPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-row>
      <ion-col>
          <button ion-button menuToggle>
              <ion-icon name="menu"></ion-icon>
            </button>
      </ion-col>
      <ion-col>
        <ion-title>Cart</ion-title>
        <ion-title item-end>Total : {{total_price}}</ion-title>
      </ion-col>
    </ion-row>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div *ngFor='let item of items' ion-item class>
    <ion-card>
      <ion-card-header>
        {{item.name}}

        <a color="danger" (click)="removeItem(item)">X</a>
      </ion-card-header>
      <img [src]="item.image" width="80" height="80" item-start>
      <p> {{item.price}}</p>


    </ion-card>


  </div>
  <button [disabled]="total_price == 0" ion-button color="danger" end>Checkout</button>
</ion-content>