<!-- <ion-menu [content]="content" side="right" id="menu2">
  <ion-content>
    <ion-list>
      <button ion-item  menuClose="menu2" detail-none>
        Close Menu 2
      </button>
    </ion-list>
  </ion-content>
</ion-menu>
-->
<ion-header>


  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>{{recipe.name}}</ion-title>
    <ion-buttons end>
      <button *ngIf="!added" color="secondary" ion-button (click)="addToPocket(recipe.id)">
        Add to pocket
      </button>

      <button *ngIf="added" color="orange" ion-button (click)="removeFromPocket(recipe.id)">
        Remove from pocket
      </button>
      <button *ngIf="loggedIn" ion-button solid color="danger" (click)="recipeTour()">
        <ion-icon name="bowtie"></ion-icon>
        Cook Now
      </button>

    </ion-buttons>

  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-title text-center>Ingredients</ion-title>
  <ion-list id="ingredientsList">
    <ion-row *ngFor="let ingredient of ingredients; let i = index">
      <ion-col col-1>
        <ion-icon *ngIf="loggedIn && shoppingBagStatus[ingredient.id]" name="checkmark-circle-outline" (click)="removeFromShoppingBag(ingredient)"></ion-icon>
        <ion-icon *ngIf="loggedIn && !shoppingBagStatus[ingredient.id]" name="add" (click)="addToShoppingBag(ingredient)"></ion-icon>
      </ion-col>
      <ion-col col-11>
        <ion-item>
          <ion-label class="label ingredientText">{{ingredient.content}}</ion-label>
          <ion-avatar item-start>
            <img [src]="ingredient.image_url">
          </ion-avatar>
          <input style="z-index : 9999" position="top" size="4" type="text" *ngIf="ingredient.quantity!=null" item-end [value]="ingredient.quantity">
          <ion-badge item-end>{{ingredient.quantity_type}}</ion-badge>
          <ion-checkbox item-end [checked]="ingStatuses[ingredient.id]" (ionChange)="statusChange($event,ingredient)"></ion-checkbox>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-list>
</ion-content>