<!--
  Generated template for the PocketPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Your Pocket</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  
    <ion-item *ngFor="let recipe of pocket.recipes">
      {{recipe.name}}
      <button (click)="viewRecipe(recipe)" ion-button>View Recipe</button>
      <button (click) ="removeFromPocket(recipe.id)" ion-button>Remove from pocket</button>
    </ion-item>
</ion-content>
