<!--
  Generated template for the AccountPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="green">
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
      
      <ion-title>Account</ion-title>
    
    
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item>
      Name:
      {{ user.name }}
    </ion-item>
    <ion-item>
      E-mail:
       {{ user?.email }}
    </ion-item>
    <ion-item>
      Account statistics: Coming soon
    </ion-item>
  </ion-list>
    <button id="logOutButton" color="danger" ion-button (click)="logOut()"> Logout</button>

</ion-content>