<!--
  Generated template for the SignupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar  color= "primary">
    <ion-title>Sign Up</ion-title>
  </ion-navbar>

</ion-header>
<ion-content id="signUp" padding>
  <h3 text-center>Sign Up to food app(Save your recipe progress and much more!)</h3>
  <form id="signUpForm" [formGroup]="signUpForm" (ngSubmit)="signUp()">
    <ion-item>
      <ion-label>Name: </ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Email Address: </ion-label>
      <ion-input type="email" formControlName="email" placeholder="email@email.com"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Password: </ion-label>
      <ion-input type="password" #pass formControlName="password"></ion-input>
      <small *ngIf ="pass.length < 6">Choose a password longer than or equal to 6 characters</small>
    </ion-item>
    <ion-item>
      <ion-label>Password Confirmation: </ion-label>
      <ion-input type="password" #cnf formControlName="password_confirmation" placeholder="confirm password"></ion-input>
      <small *ngIf="pass.value!=cnf.value">Passwords do not match </small>
    </ion-item> 
    <ion-item *ngIf="errors">
      <li *ngFor="let error of errors">
        {{error}}
      </li>
    </ion-item>
    <button id="signUpButton" ion-button [disabled]="!(signUpForm.valid)  || pass.value!=cnf.value" ion-button type="submit">Sign Up</button>
  </form>
  <ion-row>
    <button ion-button id="alreadyHasAccount">
      Already have an account? Go to Login
    </button>
  </ion-row>
  <ion-row>
      <button id="signUpWithGoogle" (click)= "goToLogin()" ion-button>
          <ion-icon name="logo-googleplus"></ion-icon>     
        Sign up using Google
      </button>
    </ion-row>
    <ion-row>
      <button id="signUpWithFacebook" ion-button (click)="fblogin()">
          <ion-icon name="logo-facebook"></ion-icon>     
        Sign up using Facebook
      </button>
    </ion-row>
</ion-content>