<ion-menu [content]="content" side="right" id="menu2">
  <ion-content>
    <ion-list>
      <button ion-item menuClose="menu2" detail-none>
        Close Menu 2
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-header>


  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Nutrition details</ion-title>

  </ion-navbar>

</ion-header>

<ion-content padding>
  Grams per serving: {{gramsPerServing}}
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label>Number of servings</ion-label>
        <ion-input type="number" [placeholder]="servings" [(ngModel)]="servings"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item>
        <ion-label>Amount of recipe in grams</ion-label>
        <ion-input type="number" [placeholder]="amountInGrams" [(ngModel)]="amountInGrams">

        </ion-input>

      </ion-item>
    </ion-col>
  </ion-row>
  <ion-item>
    Calories: {{amountInGrams * nutrition.calories}} grams
  </ion-item>
  <ion-item>
    Protein: {{amountInGrams * nutrition.protein}} grams
  </ion-item>
  <ion-item>
    Total Fat: {{amountInGrams * nutrition.total_fat}} grams
  </ion-item>
  <ion-item>
    Saturated Fat: {{amountInGrams * nutrition.saturated_fat}} grams
  </ion-item>
  <ion-item>
    Trans Fat: {{amountInGrams * nutrition.trans_fat}} grams
  </ion-item>
  <ion-item>
    Cholesterol: {{amountInGrams * nutrition.cholesterol}} grams
  </ion-item>
  <ion-item>
    Sodium: {{amountInGrams * nutrition.sodium}} grams
  </ion-item>
  <ion-item>
    Total Carbohydrates: {{amountInGrams * nutrition.total_carb}} grams
  </ion-item>
  <ion-item>
    Dietary Fiber: {{amountInGrams * nutrition.dietary_fiber}} grams
  </ion-item>

  <ion-item>
    Sugars: {{amountInGrams * nutrition.sugars}} grams
  </ion-item>

  <ion-item>
    Vitamin C: {{amountInGrams * nutrition.vitamin_c}} grams
  </ion-item>

  <ion-item>
    Vitamin A: {{amountInGrams * nutrition.vitamin_a}} grams
  </ion-item>

  <ion-item>
    Calcium: {{amountInGrams * nutrition.calcium}} grams
  </ion-item>

  <ion-item>
    Iron: {{amountInGrams * nutrition.iron}} grams
  </ion-item>
</ion-content>